.about-info {
    padding: 50px 15px;
    height: 100%;
    line-height: 1.5;
    background: #fff;   
    dt {
        @extend .title;
        padding: 15px 0;
        font-weight: bold;
    }
    dd {
        padding-bottom: 15px;
        font-size: $font-content;
        color: #979797;
        border-bottom: 1px solid #f0f0f0;
    }
    a {
        color: #42b983;
    }

}